.box {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.textareaWrapper {
    position: relative;
    display: flex;
    align-items: flex-end;
}

.textarea {
    width: 100%;
    height: 40px;
    padding: 8px 12px;
    border: 1px solid var(--color-border-input-primary);
    border-radius: 4px;
    font-size: var(--font-size-m);
    color: var(--color-text-primary);
    background-color: var(--color-bg-primary);

    outline: none;
    transition: 200ms background-color, 200ms color, 200ms border-color;
}

.textarea.stretching {
    resize: none;
    overflow: hidden;
}

.textarea:disabled {
    color: var(--color-disabled);
}

.textarea:focus,
.textarea:active:enabled {
    border-color: var(--color-border-input-active);
}

.textarea:hover:not(:disabled) {
    background-color: var(--color-bg-input-hover);
}

.textarea::placeholder {
    color: var(--color-text-secondary);
}

.textarea.error {
    border-color: var(--color-text-error);
}

.textarea.withIconStart {
    padding-left: 40px;
}

.textarea.withIconEnd {
    padding-right: 40px;
}

.iconStart,
.iconEnd {
    position: absolute;
    bottom: 8px;
    display: flex;
    color: var(--color-text-secondary);
}

.iconStart {
    left: 12px;
}

.iconEnd {
    right: 12px;
}