.vertical {
    height: 100%;
    width: 1px;
    background-color: var(--color-text-primary);
    opacity: 0.6;
}

.horizontal {
    width: 100%;
    height: 1px;
    background-color: var(--color-text-primary);
    opacity: 0.6;
}