.button {
    cursor: pointer;
    display: inline-flex;
    gap: 4px;
    align-items: center;
    justify-content: center;

    height: 40px;
    padding: 8px 16px;
    border-radius: 45px;

    font-size: var(--font-size-s);
    font-weight: 600;
    color: var(--color-text-primary);

    transition: opacity 200ms;
}

.button:focus-visible {
    outline: 2px solid var(--color-outline-focus);
    outline-offset: 2px;
}

.button:disabled {
    cursor: initial;
    opacity: 0.5;
    background-color: var(--color-disabled);
}

.button:hover:not(:disabled),
.button:focus:not(:disabled) {
    opacity: 0.8;
}

.primary {
    background-color: var(--color-accent);
}

.secondary {
    background-color: var(--color-bg-interactive-secondary);
}

.fullWidth {
    width: 100%;
}
