.skeleton {
    position: relative;

    overflow: hidden;
    display: inline-block;

    width: 100%;
    height: 16px;
    border-radius: 4px;

    background-color: grey;
}

.skeleton::after {
    content: '';

    position: absolute;
    inset: 0;
    transform: translateX(-100%);

    background: linear-gradient(90deg, transparent, rgb(255 255 255 / 10%), transparent);

    animation: shimmer 1.5s infinite;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* Animation */
@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}
