.option {
    display: block;
    margin-bottom: 0.5em;
}

.check {
    display: flex;
    align-items: center;
    position: relative;
}

.checkInput {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.checkBox {
    position: absolute;
    margin-left: -1.25em;
    width: 1em;
    height: 1em;
    overflow: hidden;
    border-radius: 0.05em;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    box-shadow: 0 0 0 0.1em var(--color-bg-primary);
}

.checkInput:checked + .checkBox {
    background-color: var(--color-accent);
    background-image: url(../../icons/Ð¡heckBoxIcon/check.svg);
}

.checkInput:focus + .checkBox {
    box-shadow: 0 0 0 0.1em var(--color-bg-primary),
    0 0 0 0.2em var(--color-accent);
}

.checkInput:disabled + .checkBox {
    box-shadow: 0 0 0 0.1em var(--color-disabled);
}

.checkInput:checked:disabled + .checkBox {
    background-color: var(--color-disabled);
}