.card {
    display: flex;
}

.image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
    transition: opacity 0.2s, transform 0.4s;
}

.image img {
    width: 100%;
    height: 100%;
}

.cropped img {
    object-fit: cover;
}

.whole img {
    object-fit: contain;
}

.image.whole {
    overflow: visible;
}

.card:hover .image {
    transform: scale(1.02);
    opacity: 0.92;
}
