.card {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.image {
    overflow: hidden;
    border-radius: 50%;
    transition: opacity 0.2s,
    transform 0.4s;
}

.card:hover .image {
    transform: scale(1.02);
    opacity: 0.92;
}

.image img {
    object-fit: cover;
}

.title {
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}
