.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.searchIcon {
  pointer-events: none;

  position: absolute;
  z-index: 1;
  left: 12px;

  color: var(--color-text-secondary);

  transition: color 200ms ease;
}

.input {
  width: 100%;
  height: 52px;
  padding: 15px 16px 15px 62px;
  border: 1px solid var(--color-border-input-primary);
  border-radius: 26px;

  font-size: var(--font-size-m);
  color: var(--color-text-primary-reverse);

  background-color: var(--color-bg-primary-reverse);
  outline: none;

  transition:
    200ms background-color,
    200ms color,
    200ms border-color;
}

.input::placeholder {
  font-size: var(--font-size-m);
  color: var(--color-text-secondary);
}
